/*  #Style Register + Image
================================================*/
register-layout-2 {
  [logo] {
      overflow: hidden;
  }
  .scroll-content{
    top : 0px !important;
  }
  .linkToHome {
    margin: 10px;
  }
  .h3-notice{
    text-align: left;
    color: orange;
  }
  .card-img {
        width: 130px;
        height: 220px;
        position: relative;
        margin-right: 10px;
    }
    [social] {
        position: absolute;
        right: 40px;
        bottom: 15px;
    }
    [card-title] {
        line-height: normal !important;
        margin-bottom: 0;
        margin-top: 0;
    }
    [card-subtitle] {
        margin: 0;
    }
    [card-body-text] {
        padding-top: 30px;
        margin-bottom: 25px;
    }
    .swiper-slide {
        display: table;
    }
    .slide-zoom {
        height: 220px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
    }
  img {
    max-width: 250px;
    display: block;
    text-align: right;
    float: right;
    margin-bottom:10px;
  }

  h2 {
  color: gray;
  }

  .form {
    padding: 10px;
    overflow: hidden;

    .item-inner {
        margin-left: 10px !important;
    }

    .item-md ion-icon[item-left] {
      margin: 25px 0 0;
    }

    .item-inner {
      border-bottom-color: theme-colors('mainColors', 'primary') !important;
      box-shadow: none !important;
    }

    [button-clear] {
      margin-top: 15px;
    }

    [title] {
      font-size: $h1-font-size;
      color: theme-colors('textColors', 'primary');
      text-transform: uppercase;
      margin: 0 10px;
    }
  }
}
