<!-- Themes Expandable Full image with CTA -->
<ion-content has-header>
    <ion-grid no-padding *ngIf="data != null">
        <ion-row>
            <ion-col col-12 no-padding no-margin>
                <ion-list>
                    <ul no-margin no-padding class="collapsible">
                        <li margin *ngFor="let group of data.items;">
                            <!-- Expandable Full image with CTA Header-->
                            <div class="collapsible-header" *ngIf="group.wizard == null">
                                <ion-item no-margin padding no-lines background-size [ngStyle]="{'background-image': 'url(' + group.backgroundImage + ')'}">
                                    <h2 item-title float-left>{{group.title}}</h2>
                                    <button *ngIf="group.gotoPage != null" ion-button float-right button-clear-outline outline round (click)="goToPage(group.gotoPage)">
                                        <ion-icon name="{{group.icon}}" *ngIf="group.icon != null"></ion-icon> {{group.button}}
                                  </button>
                                  <button *ngIf="group.gotoPage == null" ion-button float-right button-clear-outline outline round (click)="toggleGroup(group)">
                                        <ion-icon name="{{group.icon}}" *ngIf="group.icon != null"></ion-icon>
                                        {{group.button}}
                                  </button>
                                </ion-item>
                            </div>

                            <div class="collapsible-header collapsible-header-content" *ngIf="group.wizard != null">
                                <ion-slides autoplay="3000" loop="true" speed="500" #wizardSlider (ionSlideDidChange)="slideHasChanged()" pager="true">
                                    <ion-slide no-margin padding no-lines background-size-big *ngFor="let itemw of group.wizard;" background-size [ngStyle]="{'background-image': 'url(' + itemw.backgroundImages + ')'}">
                                        <p wizard-body-text>{{itemw.description}}</p>
                                    </ion-slide>
                                </ion-slides>
                                <!-- <button ion-button float-right button-clear-outline outline round> {{group.button}}
                                </button> -->
                            </div>

                            <!-- Expandable Full image with CTA Body -->
                            <div class="item-accordion item-accordion-{{group.items.length}}" [ngClass]="{'active': isGroupShown(group) }" [hidden]="!isGroupShown(group)">
                                <ion-item full default-button no-lines [ngClass]="group.class" *ngFor="let item of group.items;" (click)="goToPage(item.go)">
                                    <h2 padding-left subitem-title><strong>{{item.text}}</strong></h2>
                                    <ion-icon item-end white icon-small>
                                        <i class="icon icon-chevron-right"></i>
                                    </ion-icon>
                                </ion-item>
                            </div>
                            <!--end-->
                        </li>
                    </ul>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
<!---Fab Button-->
<ion-fab #fab bottom right>
    <button button-ion-fab ion-fab (click)="onEvent('onFab', group, $event)">
    <ion-icon name="add"></ion-icon>
  </button>
</ion-fab>